.client{
    width:100%;
    background:#f2f8fd;
    padding:50px 0px;
    &__content{
        @include display_dir(flex-start, center);
        width:100%;
        height:100%;
        & > h3{
            font-size:48px;
            color:$black;
            margin-bottom:30px;
            font-weight:550;
        }
        & > p{
            color:#595959;
            font-size:18px;
            line-height:1.5;
        }
        &--title{
            @include display(space-between, center);
            width:100%;
            padding-bottom:20px;
            padding-top: 60px;

            &--left, &--right{
                width:48%;
                position:relative;
                
                & > p {
                    font-size:20px;
                    color:$black;
                    font-weight:400;
                    padding: 0px 30px;
                    font-style: italic;
                    line-height:1.5;
                    word-spacing: 3px;
                }
                .client--desc{
                    @include display(flex-start, center);
                    padding:30px 0px 0px 30px;
                    &--img{
                        width:70px;
                        height:70px;
                        border-radius:50%;
                        border:2px solid #595959;
                        overflow: hidden;
                        img{
                            width:100%;
                            height:100%;
                            object-fit:cover;
                        }
                    }
                    &--name{
                        @include display_dir(flex-start, flex-start);
                        padding-left:30px;
                        h3{
                            color:$colorPrimary;
                            font-size:18px;
                            
                        }
                        span{
                            font-size:16px;
                            margin-top:10px;
                            color:#595959;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 975px) {
    .client__content > h3{
        font-size:36px;
        margin-bottom: 20px;
    }
    .client__content > p{
        font-size:16px;
        text-align: center;
    }
}
@media screen and (max-width: 779px) {
    .client__content--title--right {
        display:none;
    }
    .client__content--title--left{
        width:100%;
    }
}
@media screen and (max-width:489px) {
    .client__content > h3{
        font-size:30px;
        margin-bottom: 20px;
    }
    .client__content--title--left > p, .client__content--title--right > p{
        font-size:18px;
        padding:0px 10px;
    }
    .client__content--title{
        padding-top:30px;
    }
    .client__content--title--left .client--desc, .client__content--title--right .client--desc{
        padding-left:0px;
    }
}